<div class="container-fluid" style="background-color: #CEEFD1;">
<h2>Bank Statement </h2>
<%= form_tag bank_statement_transactions_path, :method => 'post', :remote => true, :id => "bank_frm" do |f| %>
  <div class = "row margin-bottom">
    <div class = "col-md-4">
      <%= text_field_tag 'From_date',nil, :id => 'from_date',:placeholder => "From Date" ,:class => "form-control" %>
    </div>
    <div class = "col-md-4">
      <%= text_field_tag 'To_date',nil, :id => 'to_date',:placeholder => "To Date", :class => "form-control" %>
    </div>
    </div>
  <div class ="row margin-bottom">
    <div class = "col-md-4 wng-color">*Please choose the from-date and to-date for bank statement.
     </div>
    <div class = "col-md-2"><%= submit_tag 'Filter', :id => 'filter', :class => "btn btn-success", :remote => true %>
      <input value="Reset" type="reset" id="reset_report" class="btn btn-danger pull-right">
    </div>
  </div>
  <% end %>
</div>

<div id ="bank_filter">
</div>

<script>
  $(document).ready(function(){
  $('#from_date').datepicker({
       dateFormat: 'dd-mm-yy'
    });
  $('#to_date').datepicker({
       dateFormat: 'dd-mm-yy'
    });

});
</script>

