<% if @expenses.present?%>
    <table class="table table-bordered table-hover">
      <tr class="danger">
        <th>Sl. No</th>
        <th>Amount/Rs</td>
        <th>Date of Transaction</td>
      </tr>
      <% @expenses.each_with_index do | expense, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= expense.amount%></td>
          <td><%= expense.date.strftime("%d-%b-%y")%></td>
        </tr>
      <% end %>
  </table>
<%else%>
  <h2>Sorry!!No results found for selected fields</h2>
<%end%>
